h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
}
.woman-jacket{

}
.man-jacket{
    
}
span{
    color: #FABE4C;
}
.nav-link{
    color: black;
}
p{
    font-family: 'Roboto', sans-serif;
}

